*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
/* All red boxes */
div > div{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* containers */
.container, .container2{
    height: 302px;
    border: 1px solid green;
    display: flex;
}
/* first container */
.container{
    justify-content: space-around;
    align-items: center;
}

/* second container */
.container2{
    margin-top: 20px;
    gap: 0 2px;
}

.container2 div:nth-of-type(2){
    order: -1;
}
.container2 div:nth-of-type(4){
    align-self: flex-end;
}
.container2 div:nth-of-type(5){
    align-self: center;
}

